#app {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-self: center;
  align-self: center;
  justify-content: center;
}

#results-container{
  margin-top: 20px;
}

.wordlist {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.word {
  margin: 3px;
  color: grey;
}

.active {
  /* border: solid 1px black; */
  color: black;
}

.empty {
  width: 8px;
}

.invalid-char {
  /* border: solid 1px black; */
  color: red;
}

.invalid-char-space {
  /* width: 8px; */
  color: red;
  /* margin-right: 5px; */
  /* border: solid 1px black; */
  /* background-color: rgb(233, 86, 86); */
  /* opacity: 0.5; */
}

.valid-char {
  /* border: solid 1px black; */
  color: green;
}

.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.center {
  display: flex;
  align-self: center;
}

/* #typing-window {
  display: flex;
  align-self: center;
  margin: 5px;
  width: 200px;
  height: 80px;
} */


.game-container {
  background-color: none;

  /* border: solid 1px black; */
  display: flex;
  align-self: center;  
  /* justify-content: center; */
  flex-direction: row;
  font-size: 25px;
  flex-wrap: nowrap;
}

#lobby-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}