#app {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* justify-self: center; */
  /* align-self: center; */
  /* justify-content: center; */
  align-items: center;
  font-size: 25px;
  /* font-family: t */
  background-image: linear-gradient(to bottom right, rgba(43, 167, 224, 0.65), rgba(67, 47, 156, 0.411));
}

#results-container{
  margin-top: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 400px;
}

.border {
  border-radius: 25px;
  border: 2px solid rgb(0, 0, 0);
  padding: 12px; 
}

.scrolling-words {
  display: flex;
  flex-direction: row;
  align-content: flex-end;
}

#change-name{
  width: 100px;
  font-size: 20x;
  height: 30px;
  margin-bottom: 20px;
}

.wordlist {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.word {
  margin: 3px;
  color: grey;
}

.active {
  /* border: solid 1px black; */
  color: black;
}

.empty {
  width: 6px;
}

.current-letter {
  /* font-size: 26px; */
}

.empty-current {
  /* background-color: rgb(149, 149, 149); */
  width: 4px;
}

.invalid-char {
  /* border: solid 1px black; */
  color: rgb(202, 64, 10);
  opacity: .7 ;

}

.gradient-result {
  background-image: linear-gradient(rgba(27, 209, 21, 0.274), rgba(182, 39, 39, 0.24));
}

.invalid-char-space {
  opacity: .6;


  /* width: 8px; */
  color: red;
  /* margin-right: 5px; */
  /* border: solid 1px black; */
  /* background-color: rgb(233, 86, 86); */
  /* opacity: 0.5; */
}

.valid-char {
  /* border: solid 1px black; */
  color: rgb(12, 167, 12);
  opacity: .75;

}

.column {
  display: flex;
  flex-direction: column;
}

.message {
  display: flex;
  align-self: center;
}

.row {
  display: flex;
  flex-direction: row;
}

.center {
  display: flex;
  align-self: center;
}

/* #typing-window {
  display: flex;
  align-self: center;
  margin: 5px;
  width: 200px;
  height: 80px;
} */


.name{
  display: flex;
  justify-content: space-between;
}

.next-letters {
  opacity: .4;
}

.game-container {
  background-image: linear-gradient(rgba(21, 49, 209, 0.664), rgba(39, 129, 182, 0.486));

  /* border: solid 1px black; */
  display: flex;
  align-self: center;  
  /* justify-content: center; */
  flex-direction: column;
  /* flex-wrap: nowrap; */
  border-radius: 25px;
  margin-bottom: 5px;
  border: 2px solid rgb(0, 0, 0);
  padding: 12px; 
  width: 470px;
}

.set-name {
  width: 180px;
  display: flex;
  align-items: center;
}
.set-name>input {
  height: 50px;
  font-size: 20px;
  text-align: center;
  margin: 10px;
  background-color: rgba(50, 148, 194, 0.479);
  outline-color: rgba(50, 148, 194, 0.479);
}
.set-name>input:focus {
  outline: none;
}

.header {
  background-image: linear-gradient(rgba(35, 157, 228, 0.76), rgba(0, 17, 255, 0.671));
  margin-top: 0px;
  font-size: 70px;
  width: 100vw;
  height: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#lobby-container {
  display: flex;
  flex-direction: column;
  margin: 15px;
  /* margin-top: 0px; */
}

.result {
  display: flex;
  flex-direction: column;
}

/* 
.centered {
  margin:50px auto;
  text-align:center;
} */

.button::-moz-focus-inner{
  border: 0;
  padding: 0;
}

.button{
  display: inline-block;
  *display: inline;
  zoom: 1;
  padding: 6px 20px;
  margin: 0;
  cursor: pointer;
  border: 1px solid #bbb;
  overflow: visible;
  font: bold 13px arial, helvetica, sans-serif;
  text-decoration: none;
  white-space: nowrap;
  color: #555;
  
  background-color: #ddd;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,1)), to(rgba(255,255,255,0)));
  background-image: -webkit-linear-gradient(top, rgba(255,255,255,1), rgba(255,255,255,0));
  background-image: -moz-linear-gradient(top, rgba(255,255,255,1), rgba(255,255,255,0));
  background-image: -ms-linear-gradient(top, rgba(255,255,255,1), rgba(255,255,255,0));
  background-image: -o-linear-gradient(top, rgba(255,255,255,1), rgba(255,255,255,0));
  background-image: linear-gradient(top, rgba(255,255,255,1), rgba(255,255,255,0));
  
  -webkit-transition: background-color .2s ease-out;
  -moz-transition: background-color .2s ease-out;
  -ms-transition: background-color .2s ease-out;
  -o-transition: background-color .2s ease-out;
  transition: background-color .2s ease-out;
  background-clip: padding-box; /* Fix bleeding */
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, .3), 0 2px 2px -1px rgba(0, 0, 0, .5), 0 1px 0 rgba(255, 255, 255, .3) inset;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, .3), 0 2px 2px -1px rgba(0, 0, 0, .5), 0 1px 0 rgba(255, 255, 255, .3) inset;
  box-shadow: 0 1px 0 rgba(0, 0, 0, .3), 0 2px 2px -1px rgba(0, 0, 0, .5), 0 1px 0 rgba(255, 255, 255, .3) inset;
  text-shadow: 0 1px 0 rgba(255,255,255, .9);
  
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.button:hover{
  background-color: #eee;
  color: #555;
}

.button:active{
  background: #e9e9e9;
  position: relative;
  top: 1px;
  text-shadow: none;
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .3) inset;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .3) inset;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .3) inset;
}

.button[disabled], .button[disabled]:hover, .button[disabled]:active{
  border-color: #eaeaea;
  background: #fafafa;
  cursor: default;
  position: static;
  color: #999;
  /* Usually, !important should be avoided but here it's really needed :) */
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  text-shadow: none !important;
}